<p style="text-align:center">
    <a href="https://skills.network" target="_blank">
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/assets/logos/SN_web_lightmode.png" width="200" alt="Skills Network Logo">
    </a>
</p>

<h1 align=center><font size = 5>Hands-on Lab: Complete the EDA with SQL</font></h1>

Estimated time needed: **60** minutes.

## Introduction
Using this Python notebook you will:

1.  Understand the Spacex DataSet
2.  Load the dataset  into the corresponding table in a Db2 database
3.  Execute SQL queries to answer assignment questions

## Overview of the DataSet

SpaceX has gained worldwide attention for a series of historic milestones. 

It is the only private company ever to return a spacecraft from low-earth orbit, which it first accomplished in December 2010.
SpaceX advertises Falcon 9 rocket launches on its website with a cost of 62 million dollars wheras other providers cost upward of 165 million dollars each, much of the savings is because Space X can reuse the first stage. 


Therefore if we can determine if the first stage will land, we can determine the cost of a launch. 

This information can be used if an alternate company wants to bid against SpaceX for a rocket launch.

This dataset includes a record for each payload carried during a SpaceX mission into outer space.

### Download the datasets

This assignment requires you to load the spacex dataset.

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. Click on the link below to download and save the dataset (.CSV file):

 <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv" target="_blank">Spacex DataSet</a>

In [1]:
!pip install sqlalchemy==1.4
!pip install ipython-sql
!pip install pandas

Collecting sqlalchemy==1.4
  Downloading SQLAlchemy-1.4.0.tar.gz (7.4 MB)
     ---------------------------------------- 0.0/7.4 MB ? eta -:--:--
     ------------ --------------------------- 2.4/7.4 MB 11.8 MB/s eta 0:00:01
     ------------------------- -------------- 4.7/7.4 MB 11.8 MB/s eta 0:00:01
     -------------------------------------- - 7.1/7.4 MB 11.8 MB/s eta 0:00:01
     ---------------------------------------- 7.4/7.4 MB 11.6 MB/s eta 0:00:00
  Installing build dependencies: started
  Installing build dependencies: finished with status 'done'
  Getting requirements to build wheel: started
  Getting requirements to build wheel: finished with status 'done'
  Preparing metadata (pyproject.toml): started
  Preparing metadata (pyproject.toml): finished with status 'done'
Collecting greenlet!=0.4.17 (from sqlalchemy==1.4)
  Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl.metadata (4.2 kB)
Downloading greenlet-3.2.4-cp313-cp313-win_amd64.whl (299 kB)
Building wheels for collected packages: sqlalchemy
  Building wheel for sqlalchemy (pyproject.toml): started
  Building wheel for sqlalchemy (pyproject.toml): finished with status 'done'
  Created wheel for sqlalchemy: filename=sqlalchemy-1.4.0-cp313-cp313-win_amd64.whl size=1449925 sha256=8cae0a4ddf0959f0bba8bdc51f4ac4bba18476ecbec62236ca2e70d85d9f1a72
  Stored in directory: c:\users\nurmi\appdata\local\pip\cache\wheels\6b\dc\03\adb7971fa63f760bf28b8f7f2e12aff349ffd467ea7ce67dcd
Successfully built sqlalchemy
Installing collected packages: greenlet, sqlalchemy
Successfully installed greenlet-3.2.4 sqlalchemy-1.4.0

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl.metadata (17 kB)
Collecting prettytable (from ipython-sql)
  Downloading prettytable-3.16.0-py3-none-any.whl.metadata (33 kB)
Requirement already satisfied: ipython in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython-sql) (9.6.0)
Collecting sqlalchemy>=2.0 (from ipython-sql)
  Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl.metadata (9.8 kB)
Collecting sqlparse (from ipython-sql)
  Downloading sqlparse-0.5.3-py3-none-any.whl.metadata (3.9 kB)
Requirement already satisfied: six in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython-sql) (1.17.0)
Collecting ipython-genutils (from ipython-sql)
  Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl.metadata (755 bytes)
Requirement already satisfied: greenlet>=1 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.2.4)
Collecting typing-extensions>=4.6.0 (from sqlalchemy>=2.0->ipython-sql)
  Downloading typing_extensions-4.15.0-py3-none-any.whl.metadata (3.3 kB)
Requirement already satisfied: colorama in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: decorator in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (5.2.1)
Requirement already satisfied: ipython-pygments-lexers in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (1.1.1)
Requirement already satisfied: jedi>=0.16 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (0.19.2)
Requirement already satisfied: matplotlib-inline in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (0.1.7)
Requirement already satisfied: prompt_toolkit<3.1.0,>=3.0.41 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (3.0.52)
Requirement already satisfied: pygments>=2.4.0 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (2.19.2)
Requirement already satisfied: stack_data in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from ipython->ipython-sql) (5.14.3)
Requirement already satisfied: wcwidth in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from prettytable->ipython-sql) (0.2.14)
Requirement already satisfied: parso<0.9.0,>=0.8.4 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.5)
Requirement already satisfied: executing>=1.2.0 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (2.2.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (3.0.0)
Requirement already satisfied: pure-eval in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from stack_data->ipython->ipython-sql) (0.2.3)
Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Downloading sqlalchemy-2.0.44-cp313-cp313-win_amd64.whl (2.1 MB)
   ---------------------------------------- 0.0/2.1 MB ? eta -:--:--
   ---------------------------------------- 2.1/2.1 MB 11.5 MB/s eta 0:00:00
Downloading ipython_genutils-0.2.0-py2.py3-none-any.whl (26 kB)
Downloading prettytable-3.16.0-py3-none-any.whl (33 kB)
Downloading sqlparse-0.5.3-py3-none-any.whl (44 kB)
Downloading typing_extensions-4.15.0-py3-none-any.whl (44 kB)
Installing collected packages: ipython-genutils, typing-extensions, sqlparse, prettytable, sqlalchemy, ipython-sql
  Attempting uninstall: sqlalchemy
    Found existing installation: SQLAlchemy 1.4.0
    Uninstalling SQLAlchemy-1.4.0:
      Successfully uninstalled SQLAlchemy-1.4.0
Successfully installed ipython-genutils-0.2.0 ipython-sql-0.5.0 prettytable-3.16.0 sqlalchemy-2.0.44 sqlparse-0.5.3 typing-extensions-4.15.0

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

Requirement already satisfied: pandas in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (2.3.3)
Requirement already satisfied: numpy>=1.26.0 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from pandas) (2.3.3)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\a_omia juttuja\ohjelmointi\ville_ibm_data_science\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

[notice] A new release of pip is available: 24.3.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip

### Connect to the database

Let us first load the SQL extension and establish a connection with the database

In [2]:
%load_ext sql

In [3]:
import csv, sqlite3

con = sqlite3.connect("my_data1.db")
cur = con.cursor()

In [4]:
%sql sqlite:///my_data1.db

In [5]:
import pandas as pd
df = pd.read_csv("https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBM-DS0321EN-SkillsNetwork/labs/module_2/data/Spacex.csv")
df.to_sql("SPACEXTBL", con, if_exists='replace', index=False,method="multi")

101

**Note:This below code is added to remove blank rows from table**

In [6]:
%sql create table SPACEXTABLE as select * from SPACEXTBL where Date is not null

 * sqlite:///my_data1.db
Done.

[]

## Tasks

Now write and execute SQL queries to solve the assignment tasks.

**Note: If the column names are in mixed case enclose it in double quotes
   For Example "Landing_Outcome"** . 

   

### Task 1




##### Display the names of the unique launch sites  in the space mission

In [10]:
query = "SELECT DISTINCT Launch_Site FROM SPACEXTBL"
unique_sites = pd.read_sql(query, con)
print(unique_sites)

    Launch_Site
0   CCAFS LC-40
1   VAFB SLC-4E
2    KSC LC-39A
3  CCAFS SLC-40


### Task 2


#####  Display 5 records where launch sites begin with the string 'KSC'

In [ ]:
# Checking all column names
cursor = con.cursor()
cursor.execute("PRAGMA table_info(SPACEXTBL)")
columns = cursor.fetchall()

for col in columns:
    print(col)

(0, 'Date', 'TEXT', 0, None, 0)
(1, 'Time (UTC)', 'TEXT', 0, None, 0)
(2, 'Booster_Version', 'TEXT', 0, None, 0)
(3, 'Launch_Site', 'TEXT', 0, None, 0)
(4, 'Payload', 'TEXT', 0, None, 0)
(5, 'PAYLOAD_MASS__KG_', 'INTEGER', 0, None, 0)
(6, 'Orbit', 'TEXT', 0, None, 0)
(7, 'Customer', 'TEXT', 0, None, 0)
(8, 'Mission_Outcome', 'TEXT', 0, None, 0)
(9, 'Landing_Outcome', 'TEXT', 0, None, 0)

In [21]:
query = "SELECT * FROM SPACEXTBL WHERE Launch_Site LIKE 'KSC%'"
ksc_launches = pd.read_sql(query, con)
print(ksc_launches)

          Date Time (UTC) Booster_Version Launch_Site  \
0   2017-02-19   14:39:00   F9 FT B1031.1  KSC LC-39A
1   2017-03-16    6:00:00     F9 FT B1030  KSC LC-39A
2   2017-03-30   22:27:00  F9 FT  B1021.2  KSC LC-39A
3   2017-05-01   11:15:00   F9 FT B1032.1  KSC LC-39A
4   2017-05-15   23:21:00     F9 FT B1034  KSC LC-39A
5   2017-06-03   21:07:00   F9 FT B1035.1  KSC LC-39A
6   2017-06-23   19:10:00  F9 FT  B1029.2  KSC LC-39A
7   2017-07-05   23:38:00     F9 FT B1037  KSC LC-39A
8   2017-08-14   16:31:00   F9 B4 B1039.1  KSC LC-39A
9   2017-09-07   14:00:00   F9 B4 B1040.1  KSC LC-39A
10  2017-10-11   22:53:00  F9 FT  B1031.2  KSC LC-39A
11  2017-10-30   19:34:00   F9 B4 B1042.1  KSC LC-39A
12  2018-05-11   20:14:00  F9 B5  B1046.1  KSC LC-39A
13  2018-11-15   20:46:00   F9 B5 B1047.2  KSC LC-39A
14  2019-03-02    7:49:00    F9 B5B1051.1  KSC LC-39A
15  2020-01-19   15:30:00   F9 B5 B1046.4  KSC LC-39A
16  2020-03-18   12:16:00   F9 B5 B1048.5  KSC LC-39A
17  2020-04-22   19:30:00   F9 B5 B1051.4  KSC LC-39A
18  2020-05-30   19:22:00   F9 B5B1058.1   KSC LC-39A
19  2020-08-07    5:12:00   F9 B5 B1051.5  KSC LC-39A
20  2020-09-03   12:46:14  F9 B5 B1060.2   KSC LC-39A
21  2020-10-06   11:29:34  F9 B5 B1058.3   KSC LC-39A
22  2020-10-18   12:25:57   F9 B5 B1051.6  KSC LC-39A
23  2020-11-16    0:27:00   F9 B5B1061.1   KSC LC-39A
24  2020-12-06   16:17:08  F9 B5 B1058.4   KSC LC-39A

                                              Payload  PAYLOAD_MASS__KG_  \
0                                       SpaceX CRS-10               2490
1                                         EchoStar 23               5600
2                                              SES-10               5300
3                                             NROL-76               5300
4                                       Inmarsat-5 F4               6070
5                                       SpaceX CRS-11               2708
6                                       BulgariaSat-1               3669
7                                        Intelsat 35e               6761
8                                       SpaceX CRS-12               3310
9                                  Boeing X-37B OTV-5               4990
10                              SES-11 / EchoStar 105               5200
11                                        Koreasat 5A               3500
12                                      Bangabandhu-1               3600
13                                          Es hail 2               5300
14                 Crew Dragon Demo-1, SpaceX CRS-17               12055
15  Crew Dragon in-flight abort test, Starlink 3 v...              12050
16                  Starlink 5 v1.0, Starlink 6 v1.0               15600
17               Starlink 6 v1.0, Crew Dragon Demo-2               15600
18               Crew Dragon Demo-2, Starlink 7 v1.0               12530
19         Starlink 9 v1.0, SXRS-1, Starlink 10 v1.0               14932
20                Starlink 11 v1.0, Starlink 12 v1.0               15600
21                Starlink 12 v1.0, Starlink 13 v1.0               15600
22                Starlink 13 v1.0, Starlink 14 v1.0               15600
23               Crew-1, Sentinel-6 Michael Freilich               12500
24                                      SpaceX CRS-21               2972

          Orbit                                           Customer  \
0     LEO (ISS)                                         NASA (CRS)
1           GTO                                           EchoStar
2           GTO                                                SES
3           LEO                                                NRO
4           GTO                                           Inmarsat
5     LEO (ISS)                                         NASA (CRS)
6           GTO                                          Bulsatcom
7           GTO                                           Intelsat
8     LEO (ISS)                                         NASA (CRS)
9           LEO                                     U.S. Air Force
10          GTO                                       SES EchoStar
11          GTO                                     KT Corporation
12          GTO                                 Thales-Alenia/BTRC
13          GTO                                         Es hailSat
14    LEO (ISS)                                        NASA (CCD)
15  Sub-orbital                                         NASA (CTS)
16          LEO                                             SpaceX
17          LEO                                             SpaceX
18    LEO (ISS)                                       NASA (CCDev)
19          LEO  SpaceX, Spaceflight Industries (BlackSky), Pla...
20          LEO                                             SpaceX
21          LEO                                             SpaceX
22          LEO                                             SpaceX
23    LEO (ISS)                                         NASA (CCP)
24    LEO (ISS)                                         NASA (CRS)

   Mission_Outcome       Landing_Outcome
0          Success  Success (ground pad)
1          Success            No attempt
2          Success  Success (drone ship)
3          Success  Success (ground pad)
4          Success            No attempt
5          Success  Success (ground pad)
6          Success  Success (drone ship)
7          Success            No attempt
8          Success  Success (ground pad)
9          Success  Success (ground pad)
10         Success  Success (drone ship)
11         Success  Success (drone ship)
12         Success  Success (drone ship)
13         Success               Success
14         Success               Success
15         Success            No attempt
16         Success               Failure
17         Success               Success
18         Success               Success
19         Success               Success
20         Success               Success
21         Success               Success
22         Success               Success
23         Success               Success
24         Success               Success

### Task 3




##### Display the total payload mass carried by boosters launched by NASA (CRS)

In [22]:
query = """
SELECT Booster_Version, SUM(PAYLOAD_MASS__KG_) AS Total_Mass_KG
FROM SPACEXTBL
WHERE Payload LIKE '%CRS%'
GROUP BY Booster_Version
"""
crs_mass_by_booster = pd.read_sql(query, con)
print(crs_mass_by_booster)

   Booster_Version  Total_Mass_KG
0   F9 B4  B1039.2           2647
1    F9 B4 B1039.1           3310
2    F9 B4 B1045.2           2697
3    F9 B5 B1048.4          15600
4   F9 B5 B1049.7           15600
5   F9 B5 B1051.2            4200
6   F9 B5 B1056.2            2268
7    F9 B5 B1056.4          15600
8   F9 B5 B1058.4            2972
9    F9 B5 B1059.2           1977
10      F9 B5B1050           2500
11    F9 B5B1051.1          12055
12   F9 B5B1056.1            2495
13    F9 B5B1059.1           2617
14  F9 FT  B1035.2           2205
15   F9 FT B1021.1           3136
16   F9 FT B1025.1           2257
17   F9 FT B1031.1           2490
18   F9 FT B1035.1           2708
19  F9 v1.0  B0006            500
20  F9 v1.0  B0007            677
21         F9 v1.1           2296
22   F9 v1.1 B1010           2216
23   F9 v1.1 B1012           2395
24   F9 v1.1 B1015           1898
25   F9 v1.1 B1018           1952

### Task 4




##### Display average payload mass carried by booster version F9 v1.1

In [23]:
query = """
SELECT AVG(PAYLOAD_MASS__KG_) AS Average_Mass_KG
FROM SPACEXTBL
WHERE Booster_Version LIKE 'F9 v1.1%'
"""
avg_mass_df = pd.read_sql(query, con)
print(f"Average payload mass for F9 v1.1: {avg_mass_df['Average_Mass_KG'][0]:.2f} kg")

Average payload mass for F9 v1.1: 2534.67 kg

### Task 5

##### List the date where the succesful landing outcome in drone ship was acheived.


_Hint:Use min function_

In [24]:
first_date = df[df['Landing_Outcome'] == 'Success (ground pad)']['Date'].min()
print(f"First ground pad landing: {first_date}")

First ground pad landing: 2015-12-22

### Task 6

##### List the names of the boosters which have success in ground pad  and have payload mass greater than 4000 but less than 6000

In [25]:
query = """
SELECT DISTINCT Booster_Version
FROM SPACEXTBL
WHERE Landing_Outcome = 'Success (ground pad)'
  AND PAYLOAD_MASS__KG_ > 4000
  AND PAYLOAD_MASS__KG_ < 6000
"""
filtered_boosters_df = pd.read_sql(query, con)
print(filtered_boosters_df)

  Booster_Version
0   F9 FT B1032.1
1   F9 B4 B1040.1
2   F9 B4 B1043.1

### Task 7




##### List the total number of successful and failure mission outcomes

In [26]:
count = df[df['Landing_Outcome'].isin(['Success', 'Failure'])].shape[0]
print(f"Total records with Success or Failure: {count}")

Total records with Success or Failure: 41

### Task 8



##### List all the booster_versions that have carried the maximum payload mass. Use a subquery.

### Task 9


##### List the records which will display the month names, succesful landing_outcomes in ground pad ,booster versions, launch_site for the months in year 2017
**Note: SQLLite does not support monthnames. So you need to use substr(Date,6,2) for month, substr(Date,9,2) for date, substr(Date,0,5),='2017' for year.**

### Task 10




##### Rank the count of landing outcomes (such as Failure (drone ship) or Success (ground pad)) between the date 2010-06-04 and 2017-03-20, in descending order

### Reference Links

* <a href ="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%203/LAB-String_Patterns_Sorting_Grouping.md.html">Hands-on Lab : String Patterns, Sorting and Grouping</a>  

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Built-in%20functions%20/Hands-on_Lab__Built-in_Functions.md.html">Hands-on Lab: Built-in functions</a>

*  <a  href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Labs_Coursera_V5/labs/Lab%20-%20Sub-queries%20and%20Nested%20SELECTs%20/instructional-labs.md.html">Hands-on Lab : Sub-queries and Nested SELECT Statements</a>

*   <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-3-SQLmagic.ipynb">Hands-on Tutorial: Accessing Databases with SQL magic</a>

*  <a href= "https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/Module%205/DB0201EN-Week3-1-4-Analyzing.ipynb">Hands-on Lab: Analyzing a real World Data Set</a>

## Author(s)

<h4> Lakshmi Holla </h4>

## Other Contributors

<h4> Rav Ahuja </h4>

<!--## Change log
| Date | Version | Changed by | Change Description |
|------|--------|--------|---------|
| 2021-07-09 | 0.2 |Lakshmi Holla | Changes made in magic sql|
| 2021-05-20 | 0.1 |Lakshmi Holla | Created Initial Version |
--!>

## <h3 align="center"> © IBM Corporation 2021. All rights reserved. <h3/>